html {
    background-color: #212121;
    color: white;
}

.title {
    margin-bottom: 3rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.playSquare {
    border: 0.3rem solid aliceblue;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;

}

#top-left {
    border-top: none;
    border-left: none;
}

#top-middle {
    border-top: none;
}

#top-right {
    border-top: none;
    border-right: none;
}

#middle-left {
    border-left: none;
}

#middle-right {
    border-right: none;
}

#bottom-left {
    border-left: none;
    border-bottom: none;
}
#bottom-middle {
    border-bottom: none;
}

#bottom-right {
    border-right: none;
    border-bottom: none;
}